*{
    margin:0;
    padding:0;
    
}
.body{
    font-size:16px;
    font-weight:400;
   font-family: Chivo, Sans-serif;

}



  .banner{
    padding: 20px 0;
}
.banner-box{
    margin-top: 6px;
    /* margin-top: 70px; */
    /* padding-bottom: 90px; */
    align-items: center;
}

.logo{
    max-height: 117px;
}
.icon-tel{
    height: 15px;
}
.get-price{
    border: 1px solid #8bc440;
    padding: 3px 15px ;
}
.check{
    color: #8bc440;
}
.bg-banner{
    background-image: url("./assets/images/banner.jpg");
   height: 100%;
   min-height: 700px;
}
.bg-banner::after{
    content:'';
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background: #0000007d;

}
.bnr-leftbx{
padding-right: 100px;
}
@media screen and (max-width: 768px) {
    .bnr-leftbx{
        padding-right: 10px;
        } 
}
@media screen and (min-width:768px) and (max-width: 992px) {
    .bnr-leftbx{
        padding-right: 10px;
        } 
}
.form-div{
    background-color: rgba(0, 0, 0, 0.50);
    padding: 40px;
    /* opacity: 32%; */
}
.form-head{
    font-size: 30px;
}
@media screen and (min-width:768px) and (max-width: 992px) {
    .form-div{
        padding: 30px;
        /* opacity: 32%; */
    }
    .form-head{
        font-size: 23px;
    }
}
@media screen and  (max-width: 576px) {
    .form-div{
        padding: 30px;
        /* opacity: 32%; */
    }
    .form-head{
        font-size: 21px;
    }
}

.down-mark{
    position: absolute;
    left: 50%;
    top: 0%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #8bc440;
    height: 40px;
    width: 40px;
}
.form-input{
    padding: 10px 20px;
    font-size: 16px;
    /* line-height: 16px; */
    width: 100%;
    background-color: rgb(236, 233, 233);
    /* border-radius: 5px; */
}
@media screen and (min-width:1400px)  {
    .form-input{
        padding: 10px 20px;
        font-size: 16px;
        
    }
}
@media screen and (min-width:768px) and (max-width: 992px) {
    .form-input{
        padding: 10px 20px;
        font-size: 16px;
        
    }
}
@media screen and (min-width:576px) and (max-width: 768px) {
    .form-input{
        padding: 10px 20px;
        font-size: 14px;
        
    }
}
@media screen and  (max-width: 576px) {
    .form-input{
        padding: 8px 20px;
        font-size: 12px;
        
    }
}
.placeholder-text ::placeholder{
    color: rgb(200, 197, 197) !important;
}
.form-input-bg{
    background-color: rgb(236, 233, 233);

}
.form-buttom{
    padding: 10px 0px;
    width: 100%;
    background-color: #8bc440;
    /* border-radius: 5px; */
}
@media screen and (min-width:992px) and (max-width: 1400px) {
    .form-buttom{
        padding: 10px 0px;
        
    }
  
}
@media screen and (min-width:768px) and (max-width: 992px) {
    .form-buttom{
        padding: 10px 0px;
        
    }
  
}
@media screen and (min-width:576px) and (max-width: 768px) {
    .form-buttom{
        padding: 10px 0px;
        
    }
}
@media screen and  (max-width: 576px) {
    .form-buttom{
        padding: 8px 0px;
        
    }
  
}

/* section3 */

.section3-head{
    font-size: 38px;
    font-weight: bold;
    line-height: 44px;
    color: #11324d;
}
.section3-body{
   
    font-size: 16px;
    color: #11324d;
    font-family: Chivo, sans-serif;
}
.list-head{
    padding: 18px 0 10px 0;    color: #11324d;
    font-size: 20px;
    font-weight: bold;

    font-family: "DM Sans", sans-serif;
}
@media screen and  (max-width: 576px) {
    .section3-head{
        font-size: 30px;
        /* font-weight: 700; */

    }
    .section3-body{
        font-size: 14px;
    }
}
.services-box{
    display: grid;
    grid-template-columns: auto auto;
}
@media screen and  (max-width: 450px) {
    .services-box{
        grid-template-columns: auto ;
    }


}
.list-mb>li{
    /* font-size: 18px; */
    margin-bottom: 8px;
    color: #11324d;
    font-family: Chivo, sans-serif;
}
.list-mb>li>i{
    padding-right: 7px;
}
.cta-button {
    background-color: #8bc440;
padding: 18px 60px;
font-size: 16px;
text-decoration: none;
}


@media screen and  (max-width: 576px) {
.cta-button{
  
    padding:  9px 30px ;
}

}

/* .cta-button {
    display: block;
    width: 89%;
    text-align: center;
        background-color: #8bc440;
    padding: 16px 60px;
    font-size: 16px;
    text-decoration: none;
}


@media screen and  (max-width: 1200px) {
    .cta-button{
        width: 76%;
        font-size: 16px;
        padding:  9px 25px ;
    }
  
}
@media screen and  (max-width: 768px) {
    .cta-button{
        width: 50%;
        font-size: 16px;
        padding:  9px 25px ;
    }
  
}
@media screen and  (max-width: 576px) {
    .cta-button{
        width: 75%;
        font-size: 16px;
        padding:  9px 25px ;
    }
  
} */
.cta-button:hover{
    color: #d9d9d9;
}
h1, h3{
     font-family: "DM Sans", sans-serif; 
}
ul>li{
    font-size: 16px;
}
@media screen and  (max-width: 576px) {
    ul>li{
        font-size: 14px;
    }
  
}
.section-pb{
    padding-bottom: 90px ;
}
.section-pt{
    padding-top: 90px;
}
@media screen and  (max-width: 576px) {
    .section-pb{
        padding-bottom: 60px ;
    }
    .section-pt{
        padding-top: 60px;
    }
  
}
@media screen and (min-width:768px) and (max-width: 992px) {
    .section-pb{
        padding-bottom: 80px ;
    }
    .section-pt{
        padding-top: 80px;
    }

}
@media screen and (min-width:576px) and (max-width: 768px) {
    .section-pb{
        padding-bottom: 70px ;
    }
    .section-pt{
        padding-top: 70px;
    }

}
.img-shadow{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.mt20{
    margin-top: 20px;
}
.pt90{
    padding-top: 90px;
}
@media screen and  (max-width: 576px) {
    .pt90{
        padding-top: 60px;
    }
  
}
@media screen and (min-width:768px) and (max-width: 992px) {
    .pt90{
        padding-top: 80px;
    }

}
@media screen and (min-width:576px) and (max-width: 768px) {
    .pt90{
        padding-top: 70px;
    }

}
.pb80{
    padding-bottom: 80px;
}

/* SECTION 4 */

.choose{
    font-size: 38px;
    font-weight: bold;
    line-height: 44px;
    color: #11324d;
    /* font-size: 50px; */
    /* line-height: 60px; */
    padding: 90px 0px 80px;
}
@media screen and  (max-width: 576px) {
    .choose{
        font-size: 30px;
        /* line-height: 60px; */
        padding: 60px 0px;
    }
  
}
@media screen and (min-width:768px) and (max-width: 992px) {
    .choose{
        font-size: 40px;
        padding: 80px 0px 70px;

    }
  
}
@media screen and (min-width:576px) and (max-width: 768px) {
    .choose{
        font-size: 40px;
        padding: 70px 0px 60px;

    }
  
}
.card-div{
    padding: 22px;
    background-color: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2px ;
}
.card-div:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
}

.card-body-text1{
    font-size: 20px;
    font-weight: bold;
    /* line-height: 48px; */
    color: #11324d;
}
.card-body-text2{
    font-size: 16px;
    /* LINE-HEIGHT:26px; */
    /* color: #656565; */
    color: #11324d;
    text-align: center;
    font-family: Chivo, sans-serif;

}
@media screen and (min-width:768px) and (max-width: 992px) {
    .card-body-text1{
        font-size: 18px;
        line-height:24px;
        /* font-weight: 700; */
    }
    .card-body-text2{
        font-size: 14px;
        /* LINE-HEIGHT:20px; */
        
    }
    
}
@media screen and (max-width: 576px) {
    .card-body-text1{
        font-size: 16px;
        line-height:24px;
        /* font-weight: 700; */
    }
    .card-body-text2{
        font-size: 12px;
        /* LINE-HEIGHT:20px; */
        
    }
    
  
}
.pt18{
    padding-top: 18px;
}
.pt10{
    padding-top: 0px;
}
@media screen and (min-width:768px) and (max-width: 992px) {
    .pt10{
        padding-top: 5px;
    }
    
  
}
.mb30{
    margin-bottom: 30px;
}
.pb60{
    padding-bottom: 60px;
}
@media screen and (max-width: 576px) {
    .pb60{
        padding-bottom: 30px;
    }
      
}
@media screen and (min-width:576px) and (max-width: 768px) {
    .pb60{
        padding-bottom: 40px;
    }
    
  
}
@media screen and (min-width:768px) and (max-width: 992px) {
    .pb60{
        padding-bottom: 50px;
    }
    
  
}

.pt70{
    padding-top: 70px;
}


.bn-head {
    font-size: 46px;
    font-weight: 600;
}
.bn-list {
       font-size: 16px;
    font-weight: 400;
    font-family: Chivo, sans-serif;
}
.bn-subhead {
    font-size: 20px;
    margin-top: 18px;
}

@media screen and (max-width: 576px) {
    .banner-box {
        margin-top: 40px;
        padding-bottom: 60px;
    }
   
    .logo{
        max-height: 71px;
    }
    .bn-head {
        font-size: 36px;
    }
    .bn-subhead {
        font-size: 14px;
    }
    .bn-list {
        font-size: 12px;
    }
   
}
@media screen and (min-width:768px) and (max-width: 992px) {
    .logo{
        max-height: 100px;
    }
    .banner-box {
        margin-top: 30px;
        padding-bottom: 80px;
    }
    .bn-head {
        font-size: 43px;
    }
    .bn-subhead {
        font-size: 16px;
    }
    .bn-list {
        font-size: 14px;
    }
}

@media screen and (min-width:576px) and (max-width: 768px) {
    .logo{
        max-height: 100px;
    }
    .banner-box {
        margin-top: 40px;
        padding-bottom: 70px;
    }

}
.choose-box{
    
    background: #eeeeeebd;
}

/* footer */
.logo2{
    max-height: 100px;
}
@media screen and (max-width: 576px) {
    
   
    .logo2{
        max-height: 100px;
    }
}
.footer-section{
    padding-top: 60px;
    background-color: #252525;
    color: #d9d9d9;
}
.f-body {
    
    font-size: 12px;
    line-height: 25px;
}
@media screen and (max-width: 576px) {
    .f-body {
    
        font-size: 12px;
        line-height: 18px;
    }
}
.footer2-bg{
    color: #d9d9d9;
}
.error{
    color: tomato;
    font-size: 10px;
}
.copyright{
    color: #d9d9d9;
    font-size: 12px;
    /* background-color: rgba(0, 0, 0, 83%); */
    border-top: 1px solid #eeeeee38;
}
.footer-logo{
    margin-bottom: 20px;
}
.cust-col {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}
@media screen and (max-width: 480px) {
    .cust-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-bottom: 15px;
    }
}
/* hire our team */
.pb90{
    padding-bottom: 90px;
}
.send-message{
    border-color: 8bc440;
    color: #fff;
    font-size: 15px;
    /* line-height: 26px; */
    text-align: center;
    width: 200px;
    padding: 16px 0px;
}
@media screen and (max-width: 576px) {
    .send-message{
        
        font-size: 14px;
        
        padding: 10px 0px;
    }
    .pb90{
        padding-bottom: 60px;
    }
}

@media screen and (min-width:576px) and (max-width: 768px) {
    .pb90{
        padding-bottom: 70px;
    }
    
  
}
@media screen and (min-width:768px) and (max-width: 992px) {
    .pb90{
        padding-bottom: 80px;
    }
  
}
.hire-section{
    background-color: #e7e0c9;
}
.form-img-box{
    /* min-height: 400px; */
    /* padding: 56px 0px; */
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px 0px;
}
.form-image{
    min-height: 400px; 
}
.hire-head{
    font-size: 38px;
    font-weight: bold;
    line-height: 44px;
    color: #11324d;
    /* font-size: 50px;
    line-height: 60px;
    color: #11324d; */
}

.hire-subhead{
    FONT-SIZE:16px;
    color: #11324d;
    line-height: 26px;
    margin-bottom: 38px;
}
@media screen and  (max-width: 576px) {
    .hire-head{
        font-size: 40px;
    }
    .hire-subhead{
        font-size: 14px;
        
    }
  
}
.form-input2{
    padding: 16px 20px;
    width: 100%;
    font-size: 14px;
    background-color: white;
    /* border-radius: 5px; */
}
@media screen and  (max-width: 576px) {
    .form-input2{
        padding: 10px 20px;
        font-size: 12px;
    }
  
}

.header-text {
    font-size: 20px;
}
.header-text i {
    margin-right: 10px;
    font-size: 20px;
}
.header-text a {
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .header-text i {
        font-size: 17px;
    }
    .header-text a {
        font-size: 17px;
       
    }
}
@media screen and  (max-width: 576px) {
    .header-text i {
        font-size: 14px;
    }
    .header-text a {
        font-size: 14px;
       
    }
  
}